{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>Bastli Bouncer</h1>
    <br/>
    <h2>Email address confirmed!</h2>
    <br>
    <p>Your email address is now confirmed. Sign in to use your new account.</p>
    <p>
      <a class="btn btn-default" role="button" href="{{ url_for('login.login') }}">Login</a>
      <a class="btn btn-default" role="button" href="{{ url_for('bouncer.home') }}">Home</a>
    </p>
  </div>
</div>
{% endblock %}
