{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>Bastli Bouncer</h1>
    <br/>
    <h2>Confirm Email Address</h2>
    <br>
    <p>Do you want to confirm your email address {{ email }}?</p>
    <p>
      <form action="" method="get">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="hidden" name="action" value="confirm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="btn btn-primary" type="submit" value="Confirm">
        <a class="btn btn-default" role="button" href="{{ url_for('bouncer.home') }}">Abort</a>
      </form>
      
    </p>
  </div>
</div>
{% endblock %}
