{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>Bastli Bouncer</h1>
    <br/>
    <h2>Log in to your personal Account</h2>
    <br>
    <form action="" method="post">
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" value="{{ request.form.email }}"><br/>
      <label for="name">Password:</label><br>
      <input type="password" id="password" name="password" value="{{ request.form.password }}"><br/>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="btn btn-primary" type="submit" value="Login"> or 
      <a class="btn btn-default" role="button" href="{{ url_for('login.password_forgotten') }}">Password forgotten?</a> or 
      <a class="btn btn-default" role="button" href="{{ url_for('bouncer.home') }}">Go back</a>
    </form>
  </div>
</div>
{% endblock %}
