{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>Bastli Bouncer</h1>
    <br/>
    <p>You have successfully been logged out.</p>
    <br/>
    <a class="btn btn-default" role="button" href="{{ url_for('login.login') }}">Login</a>
     or 
    <a class="btn btn-default" role="button" href="{{ url_for('bouncer.home') }}">Home</a>
  </div>
</div>
{% endblock %}
