{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>Bastli Bouncer</h1>
    <br/>
    <h2>Password forgotten?</h2>
    <br>
    <p>Request instructions for resetting the password.</p>
    <form action="" method="post">
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" value="{{ request.form.email }}"><br/>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="btn btn-primary" type="submit" value="Request password reset"> or 
      <a class="btn btn-default" role="button" href="{{ url_for('login.login') }}">Go back</a>
    </form>
  </div>
</div>
{% endblock %}
