{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>Bastli Bouncer</h1>
    <br/>
    <h2>Set a new Password</h2>
    <br>
    <p>Set a new password for {{ email }}.</p>
    <form action="" method="post">
      <label for="name">New Password:</label><br>
      <input type="password" id="password" name="password" value="{{ request.form.password }}"><br/>
      <label for="name">Repeat new Password:</label><br>
      <input type="password" id="password2" name="password2" value="{{ request.form.password2 }}"><br/>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="btn btn-primary" type="submit" value="Set new Password"> or 
      <a class="btn btn-default" role="button" href="{{ url_for('login.login') }}">Go back</a>
    </form>
  </div>
</div>
{% endblock %}
