{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>Bastli Bouncer</h1>
    <br/>
    <h2>Registration successful!</h2>
    <br>
    <p>Please check the inbox of your email address and follow the instructions.</p>
    <p>
      <a class="btn btn-default" role="button" href="{{ url_for('login.login') }}">Login</a>
      <a class="btn btn-default" role="button" href="{{ url_for('bouncer.home') }}">Home</a>
    </p>
  </div>
</div>
{% endblock %}
