{% import "bootstrap/utils.html" as utils %}
{% extends "base_authenticated.html" %}
{% block content %}
    <h2>Cancel Reservation</h2>
    <p>Do you really want to cancel your reservation for {{ location_name }}?</p>
    <form action="" method="post">
      <input type="hidden" name="action" value="cancel">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="btn btn-primary" type="submit" value="Cancel reservation now"> or 
      <a class="btn btn-default" role="button" href="{{ url_for('bouncer.home') }}">Go back</a>
    </form>
{% endblock %}
