{% import "bootstrap/utils.html" as utils %}
{% extends "base_authenticated.html" %}
{% block content %}
    <h2>Enter Bastli</h2>
    <p>You request entry for {{ location_name }} by clicking below.</p>
    <form action="" method="post">
      <input type="hidden" name="action" value="enter">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="btn btn-primary" type="submit" value="Apply for entry now"> or 
      <a class="btn btn-default" role="button" href="{{ url_for('bouncer.home') }}">Go back</a>
    </form>
{% endblock %}
