{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>{{ application_name }}</h1>
    <br/>
    <p>We currently have <span class="free_workplaces">{{ free_workplaces }} free workspaces</span> at {{ location_name }}.</p>
    <br/>
    <p>Register and reserve your workspace here before you come by! Thank you.</p>
    <br/>
    <p>
      <a class="btn btn-default" role="button" href="{{ url_for('login.login') }}">Login</a>
      {% if registration_enabled %}
        <a class="btn btn-default" role="button" href="{{ url_for('login.register') }}">Register</a>
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}
