{% import "bootstrap/utils.html" as utils %}
{% extends "base_authenticated.html" %}
{% block content %}
    {% if user.is_confirmed == False %}
      <p>
        <form action="" method="post">
          <input type="hidden" name="action" value="resendconfirmation">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          Your email address is not confirmed yet! 
          <input class="btn btn-primary" type="submit" value="Resend confirmation email">
        </form>
      </p>
    {% endif %}
    {% if not user.telegram_id %}
      <p>
        Your account is not linked with Telegram. 
        <a class="btn btn-default" href="{{ url_for('bouncer.link_telegram') }}">Link Account to Telegram</a>
      </p>
    {% endif %}
    {% if record %}
      <div class="active_record">
        You reported to be at Bastli.
        <a class="btn btn-primary" role="button" href="{{ url_for('bouncer.confirm_leave') }}">Leave now</a>
      </div>
    {% elif reservation %}
      <div class="active_reservation">
      You have a valid reservation expiring at {{ reservation.time_end.strftime("%H:%M") }}.
      <a class="btn btn-primary" role="button" href="{{ url_for('bouncer.confirm_enter') }}">Enter now</a>
       or 
       <a class="btn btn-default" role="button" href="{{ url_for('bouncer.confirm_cancel') }}">Cancel reservation</a>
    </div>
    {% else %}
      <form action="" method="post">
        <input type="hidden" name="action" value="reserve">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="btn btn-primary" type="submit" value="Reserve a workspace">
      </form>
       or 
       <form action="" method="post">
        <input type="hidden" name="action" value="enter">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="btn btn-primary" type="submit" value="Apply for entry">
      </form>
    {% endif %}
{% endblock %}
