{% import "bootstrap/utils.html" as utils %}
{% extends "base_authenticated.html" %}
{% block content %}
    <h2>Link your Telegram Account</h2>
    <p>Link you Account with Telegram to use, so you can interact directly by chatting with our bot (@{{ telegram_bot_username }}).</p>
    <br/>
    <p>
      Click the button below and tap START in your Telegram client to link the account.<br/><br/>
      <a class="btn btn-primary" target="_blank" href="{{ telegram_link }}">Link with your Telegram Account now</a>
    </p>
    <br/>
    <p>
      If you already have started the conversation with our bot before, just type in the following message:<br/>
      /start {{ start_token }}
    </p>
{% endblock %}
