body,
html {
  width: 100%;
  height: 100%;
}
body,
h1,
h2,
h3 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h1,
h2,
h3 {
  color: #1f2d54;
}

a {
  color: #1f2d54;
}
a:hover {
  color: #e8462b;
  text-decoration: none;
}

footer {
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 20px;
}
footer > .container {
  border-top: 4px solid #1f2d54;
  text-align: center;
  padding: 2em 0 0;
}
p.copyright {
  margin: 15px 0 0;
}
.alert {
  width: 70%;
  margin: auto;
}
.alert-info {
  color: #687430;
  background-color: #e6ecca;
  border-color: #aec251;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.btn-default {
  border-color: #1f2d54;
  color: #1f2d54;
}
.btn-default:hover {
  background-color: #ffffff;
  border-color: #e8462b;
  color: #e8462b;
}
.btn-primary {
  background-color: #1f2d54;
  color: #fff;
}
.btn-primary:hover {
  background-color: #ffffff;
  border-color: #e8462b;
  color: #e8462b;
  /* border-color: #1f2d54;
  background-color: #fff;
  color: #1f2d54; */
}
.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}
.center-narrow {
  margin: auto;
  width: 40%;
  padding: 10px;
}
.error {
  text-align: center;
}
.free_workplaces {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
.content-section {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
}
.footer,
.push {
  clear: both;
  height: 4em;
}
.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
}
.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}
.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}
.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.lead {
  font-size: 18px;
  font-weight: 400;
}
.topnav {
  font-size: 14px;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -106px;
}
