{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow error">
    <h1>Oops, that's an error!</h1>
    <br/>
    <p>Error 403: You are not authorized to access this page.</p>
  </div>
</div>
{% endblock %}
