{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>{{ application_name }}</h1>
    <br/>
    <h2>[admin] Create a new Account</h2>
    <br>
    <form action="" method="post">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" value="{{ request.form.name }}"><br/>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" value="{{ request.form.email }}"><br/>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="btn btn-primary" type="submit" value="Create Account"> or 
      <a class="btn btn-default" role="button" href="{{ url_for('admin.home') }}">Go back</a>
    </form>
  </div>
</div>
{% endblock %}
