{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>{{ application_name }}</h1>
    <br/>
    <h2>[admin] Dashboard</h2>
    <br>
    <a class="btn btn-primary" role="button" href="{{ url_for('admin.create_account') }}">Create a new Account</a>
     or 
    <a class="btn btn-default" role="button" href="{{ url_for('bouncer.home') }}">Go home</a>
  </div>
</div>
{% endblock %}
