{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>{{ application_name }}</h1>
    <br/>
    <p>We currently have <span class="free_workplaces">{{ free_workplaces }} free workspaces</span> at {{ location_name }}.</p>
    <p>
      Welcome, {{ user.name }} ({{ user.email }}).
      {% if user.is_admin %}
        <a class="btn btn-default" role="button" href="{{ url_for('admin.home') }}">Admin</a>
      {% endif %}
      <a class="btn btn-default" role="button" href="{{ url_for('login.logout') }}">Logout</a>
    </p>
    <br/>
    {% block content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
