<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} | Bouncer | AMIV Bastli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.3.3.7.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    {% block javascript %}
    {% endblock %}
    <div class="wrapper">
      {% block body %}
      {% endblock %}
        <br/>
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>© <a target="_blank" href="{{ operator_website }}">{{ operator_name }}</a></li>
                        <li><a href="mailto:{{ operator_email }}">Contact</a></li>
                        <li><a target="_blank" href="https://gitlab.ethz.ch/bastli/bastli-bouncer">Source Code & Issue Tracker</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
